parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - vendor
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#no value type specified in iterable type array#'
        - '#Property .+::\$cache type has no value type specified#'
